minecraft/.mixin.out/
minecraft/coremods/
minecraft/defaultconfigs/
minecraft/downloads/
minecraft/fancymenu_data/
minecraft/logs/
minecraft/mods/*.jar
minecraft/resourcepacks/*.zip
minecraft/saves/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/shaderpacks/
minecraft/spiffy_instance_data/
minecraft/texturepacks/
minecraft/command_history.txt
minecraft/usercache.json
minecraft/usernamecache.json

instance.cfg